<!DOCTYPE html>
<html lang='es'>
<head>
<meta charset = 'utf-8'>
<title>Cafematic - {% block titulo %}{% endblock %}</title>
<style>
nav {
	height: 40px;
}
.nave{
	list-style: none;

}
.nave li{
	float: left;
	padding: 3px;

}

.nave li a{
	display: block;
	width: 120px;
	text-align: center;
	border: solid;
	height: 40px;
	text-decoration: none;	
	vertical-align: middle;
}

.prim
{
	display: block;
	width: 120px;
	height: 40px;
	text-align: center;
	border: dotted;
}
{% block style_css %}{% endblock %}
</style>
</head>
<body>
<header>
	<h1>Sistema de distribución de gastos de café</h1>

	<nav>
		<ul class="nave">
		<li class="prim">{% block encabezado %}{% endblock %}</li>
		<li><a href="/">Inicio</a></li>
		<li><a href="/consulta">Consulta</a></li>
		<li><a href="/registros">Historial</a></li>
		<li><a href="/agregar">Agregar Trabajador</a></li>
		<li><a href="/eliminar">Eliminar Trabajador</a></li>
		</ul>
	</nav>
	
</header>
<section class ='contenido'>
<br>
<hr>
<br>
{% block contenido %}{% endblock %}
</section>
<footer>
</footer>
</body>
</html>