{% extends 'base.html' %}

{% comment %} Aqui van  comentarios {% endcomment %}

{% block titulo %} Inicio {% endblock %}

{% block style %}
   .impar{ background-color:#90EE90; }
   .par{ background-color:#5ACC%A; }
{% endblock %}

{% block encabezado %}
 Inicio
 {% endblock %}

 {% block contenido %}
<p>
Actualmente tenemos registrados:
{% with total=lista.count %}
{{total}} trabajadore{{total|pluralize}}
{% endwith %}
</p>
<ul>
{% for dato in lista %}
<li>{{dato.Nombre}} {{dato.Apellido}}</li>
{% empty %}
<li>No hay trabajadores registrados aun</li>
{% endfor %}
</ul>
{% endblock %}